@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Thin */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Thin.ttf") format("woff2");
  font-weight: 100;
  font-display: swap;
}

/* ExtraLight */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-ExtraLight.ttf")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Light.ttf") format("woff2");
  font-weight: 300;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Regular.ttf")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Medium.ttf")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-SemiBold.ttf")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Bold.ttf") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-ExtraBold.ttf")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Vazir";
  src: url("/shop-panel/public/fonts/vazir/Vazirmatn-Black.ttf") format("woff2");
  font-weight: 900;
  font-display: swap;
}

:root {
  --primary: #0962ea;
  --font-vazir: "Vazir", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --font-vazir: var(--font-vazir);
}
