@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary: #0962ea;
  --font-vazir: "Vazir", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --font-vazir: var(--font-vazir);
}
